In [1]:
k = 45,23.0121,False,None,6+7j
print(k)

(45, 23.0121, False, None, (6+7j))

In [2]:
a = h = p = 450
print(a,h,p)

450 450 450

## Data Types:
    - int => numeric
    - float => decimal
    - boolean => True or False
    - none => None
    - complex => real and imaginary part
    - All Data Structures[List,tuple,string,set and dictionary]

# Input Formatting:
    - It prints a content inside of input
    - It reads a data from the user
    - By default the data type is string
    Syntax:
        variable_name = input("something content")

In [3]:
n = input("Enter a value:")
print(n)

Enter a value: 45

45

In [ ]:
g = 20
print(g)

In [4]:
a = input("Enter a value: ")
b = input("Enter b value: ")
print(a,b)

Enter a value:  1
Enter b value:  20.15

1 20.15

In [5]:
a,b = input("Enter a value: "),input("Enter b value: ")
print(a,b)

Enter a value:  45
Enter b value:  89.021

45 89.021

## Type:
    - To know the data type of a variable
    Syntax:
        type(variable_name)

In [7]:
k = input("Enter a value: ")
type(k)
# print(k,type(k))

Enter a value:  45

str

## Type Casting:
    - It converts one data type of value to another data type value
    - int()
    - float()
    - str()
    - bool()
    - complex()
    - All Data Structures[list(),tuple(),set() and dict()]

In [10]:
h = input("Enter a value: ")
print(h,type(h))
g = int(h)
print(g,type(g))
print(h,g,type(h),type(g))

Enter a value:  12

12 <class 'str'>
12 <class 'int'>
12 12 <class 'str'> <class 'int'>

In [13]:
n = int(input("Enter a value: "))
print(n,type(n))

Enter a value:  52

52 <class 'int'>

```
Input:
    Enter a value: 45
    Enter b value: 68
Output:
 Entered values are: '45','68'
 Entered a value is: '45'
 Entered b value is: '68'
```

## Output Formatting:
    - , +
    - format specifers
    - .format
    - f string

In [26]:
a,b = int(input("Enter a value: ")),int(input("Enter b value: "))
print("Entered values are: '",a,"','",b,"'")
print("Entered values are: '"+str(a)+"','"+str(b)+"'")
print("Entered values are: '%d','%d'"%(a,b))
print("Entered values are: '{}','{}'".format(b,a))
print(f"Entered values are: '{a}','{b}'")

Enter a value:  4
Enter b value:  2

Entered values are: ' 4 ',' 2 '
Entered values are: '4','2'
Entered values are: '4','2'
Entered values are: '2','4'
Entered values are: '4','2'

In [17]:
t,b = "78",str(2)
print(t+b)

782

In [28]:
n,m = int(input("Enter a value: ")),int(input("Enter b value: "))
print(f"Entered values are: '{n}' and '{m}'")
print(f"Entered a value is: '{n}'")
print(f"Entered b value is: '{m}'")

Enter a value:  5
Enter b value:  6

Entered values are: '5' and '6'
Entered a value is: '5'
Entered b value is: '6'

## Operators:
    - Arithmetic => +,-,*,/,%,//,** 
    - Relational => >,<,==,!=,>=,<=
    - Bitwise => &,|,^,>>,<<
    - Logical => AND,OR,NOt,XOR
    - Assignment => +=,-=,*=,/=,%=,//=,**=
    - Membership => in, not in
    - Identity => is, is not

```
Input:
    Enter a value: ?
    Enter b value: ?
Output:
    Sum of ? and ? is: ?
    Sub of ? and ? is: ?
    Mul of ? and ? is: ?
    Div of ? and ? is: ?
    Mod of ? and ? is: ?
    Fld of ? and ? is: ?
    Pow of ? and ? is: ?
```

In [29]:
n,m = int(input("Enter a value: ")),int(input("Enter b value: "))
print(f"Sum of {n} and {m} is: {n+m}")
print(f"Sub of {n} and {m} is: {n-m}")
print(f"Mul of {n} and {m} is: {n*m}")
print(f"Div of {n} and {m} is: {n/m}")
print(f"Mod of {n} and {m} is: {n%m}")
print(f"Fld of {n} and {m} is: {n//m}")
print(f"Pow of {n} and {m} is: {n**m}")

Enter a value:  2
Enter b value:  6

Sum of 2 and 6 is: 8
Sub of 2 and 6 is: -4
Mul of 2 and 6 is: 12
Div of 2 and 6 is: 0.3333333333333333
Mod of 2 and 6 is: 2
Fld of 2 and 6 is: 0
Pow of 2 and 6 is: 64

In [31]:
w = 45
t = 22
print(w and t)
print(t and w)
print(w & t)
print(t & w)

22
45
4
4

In [33]:
q = 5
p = 89
print(q or p)
print(p or q)
print(q | p)
print(p | q)

5
89
93
93

In [34]:
t = 56
print(t>>2)
print(t<<3)

14
448

## Keywords

In [35]:
import keyword

In [37]:
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

## Conditional Statements:
    - To check whether the given condition is either True or False
    - if => single
    - if-else => 2 cases
    - elif => n number of cases
    - nested if => n number of cases

```
if
    Syntax:
        if(condition):
            //statements
    () => optional
```

```
Input:
    3x**3
    >10
Output:
    Entered value is: ?
    Expression of 3x**3 is: ?
```

In [39]:
g = int(input())
print(f"Entered value is: {g}")
if g>10:
    print(f"Expression of 3x**3 is: {3*g**3}")

 5

Entered value is: 5

## if-else
    Syntax:
        if(condition):
            //statement
        else:
            //statement

```
Even: 4x**2+6y
Odd: 23x**2+3y**3+4z
Sample-1
Input:
    12
    2
    3
Output:
    Entered number is: 12
    Expresssion of 4x**2+6y is: ?
Sample-2
Input:
    11
    34
    7
    4
Output:
    Entered number is: 11
    Expresssion of 23x**2+3y**3+4z is: ? 

```